S3method(Predict.matrix,psp.smooth)
S3method(as.gam,opm_model)
S3method(borders,Ckmeans.1d.dp)
S3method(borders,kmeans)
S3method(borders,kmeanss)
S3method(calinski,Ckmeans.1d.dp)
S3method(calinski,kmeans)
S3method(calinski,kmeanss)
S3method(get_data,psp_model)
S3method(get_data,smooth.spline_model)
S3method(get_data,tp_model)
S3method(glob_to_regex,character)
S3method(glob_to_regex,factor)
S3method(hist,Ckmeans.1d.dp)
S3method(hist,kmeans)
S3method(hist,kmeanss)
S3method(lines,opm_model)
S3method(lines,opm_models)
S3method(plot,kmeanss)
S3method(plot,opm_model)
S3method(plot,opm_models)
S3method(predict,smooth.spline_model)
S3method(print,MOPMX_Summary)
S3method(print,OPMD_Listing)
S3method(print,OPMS_Listing)
S3method(print,OPMS_Summary)
S3method(print,OPM_Summary)
S3method(print,print_easy)
S3method(smooth.construct,psp.smooth.spec)
S3method(to_kmeans,Ckmeans.1d.dp)
S3method(to_kmeans,kmeans)
S3method(to_kmeans,kmeanss)
export(FOE)
export(MOA)
export(OPMX)
export(YAML_VIA_LIST)
export(batch_collect)
export(batch_opm)
export(batch_process)
export(borders)
export(calinski)
export(clean_filenames)
export(explode_dir)
export(file_pattern)
export(glob_to_regex)
export(html_args)
export(kubrick)
export(opm_files)
export(opms)
export(param_names)
export(read_opm)
export(read_single_opm)
export(safe_labels)
export(select_colors)
export(set_spline_options)
export(split_files)
export(to_kmeans)
exportClasses(MOPMX)
exportClasses(OPM)
exportClasses(OPMA)
exportClasses(OPMD)
exportClasses(OPMS)
exportClasses(WMD)
exportMethods("$<-")
exportMethods("%K%")
exportMethods("%Q%")
exportMethods("%k%")
exportMethods("%q%")
exportMethods("+")
exportMethods("[")
exportMethods("[<-")
exportMethods("[[<-")
exportMethods("metadata<-")
exportMethods(aggr_settings)
exportMethods(aggregated)
exportMethods(annotated)
exportMethods(anyDuplicated)
exportMethods(as.data.frame)
exportMethods(best_cutoff)
exportMethods(c)
exportMethods(ci_plot)
exportMethods(collect_template)
exportMethods(contains)
exportMethods(csv_data)
exportMethods(dim)
exportMethods(disc_settings)
exportMethods(discrete)
exportMethods(discretized)
exportMethods(do_aggr)
exportMethods(do_disc)
exportMethods(duplicated)
exportMethods(edit)
exportMethods(extract)
exportMethods(extract_columns)
exportMethods(filename)
exportMethods(find_positions)
exportMethods(find_substrate)
exportMethods(flatten)
exportMethods(gen_iii)
exportMethods(has_aggr)
exportMethods(has_disc)
exportMethods(heat_map)
exportMethods(hours)
exportMethods(include_metadata)
exportMethods(level_plot)
exportMethods(listing)
exportMethods(map_metadata)
exportMethods(map_names)
exportMethods(map_values)
exportMethods(max)
exportMethods(measurements)
exportMethods(merge)
exportMethods(metadata)
exportMethods(metadata_chars)
exportMethods(minmax)
exportMethods(oapply)
exportMethods(opm_mcp)
exportMethods(opm_opt)
exportMethods(phylo_data)
exportMethods(plate_type)
exportMethods(plates)
exportMethods(position)
exportMethods(radial_plot)
exportMethods(rep)
exportMethods(rev)
exportMethods(run_kmeans)
exportMethods(separate)
exportMethods(seq)
exportMethods(setup_time)
exportMethods(sort)
exportMethods(subset)
exportMethods(substrate_info)
exportMethods(summary)
exportMethods(thin_out)
exportMethods(to_metadata)
exportMethods(to_yaml)
exportMethods(unique)
exportMethods(well)
exportMethods(wells)
exportMethods(xy_plot)
import(grofit)
import(methods)
import(mgcv)
import(nlme)
importFrom(Ckmeans.1d.dp,Ckmeans.1d.dp)
importFrom(boot,boot)
importFrom(boot,boot.ci)
importFrom(boot,norm.ci)
importFrom(hwriter,hmakeTag)
importFrom(hwriter,hwrite)
importFrom(lattice,levelplot)
importFrom(lattice,panel.abline)
importFrom(lattice,panel.grid)
importFrom(lattice,panel.xyplot)
importFrom(lattice,strip.custom)
importFrom(lattice,xyplot)
importFrom(parallel,mclapply)
importFrom(parallel,mcmapply)
importFrom(pkgutils,L)
importFrom(pkgutils,LL)
importFrom(pkgutils,case)
importFrom(pkgutils,collect)
importFrom(pkgutils,flatten)
importFrom(pkgutils,listing)
importFrom(pkgutils,must)
importFrom(pkgutils,mypdf)
importFrom(pkgutils,pkg_files)
importFrom(pkgutils,sections)
importFrom(plotrix,radial.plot)
importFrom(rjson,toJSON)
importFrom(splines,spline.des)
importFrom(stats,aggregate)
importFrom(stats,aov)
importFrom(stats,coef)
importFrom(stats,confint)
importFrom(stats,glm)
importFrom(stats,heatmap)
importFrom(stats,kmeans)
importFrom(stats,lm)
importFrom(stats,optimize)
importFrom(stats,reshape)
importFrom(stats,update)
importFrom(stats,var)
importFrom(yaml,as.yaml)
importFrom(yaml,yaml.load)
importFrom(yaml,yaml.load_file)
