S3method(borders,Ckmeans.1d.dp)
S3method(borders,kmeans)
S3method(borders,kmeanss)
S3method(calinski,Ckmeans.1d.dp)
S3method(calinski,kmeans)
S3method(calinski,kmeanss)
S3method(hist,Ckmeans.1d.dp)
S3method(hist,kmeans)
S3method(hist,kmeanss)
S3method(plot,kmeanss)
S3method(print,OPMS_Summary)
S3method(print,OPM_Summary)
S3method(to_kmeans,Ckmeans.1d.dp)
S3method(to_kmeans,kmeans)
S3method(to_kmeans,kmeanss)
export(MOA)
export(OPMX)
export(YAML_VIA_LIST)
export(batch_collect)
export(batch_opm_to_yaml)
export(batch_process)
export(borders)
export(calinski)
export(clean_filenames)
export(explode_dir)
export(file_pattern)
export(html_args)
export(kubrick)
export(opm_files)
export(opms)
export(param_names)
export(read_opm)
export(read_single_opm)
export(safe_labels)
export(select_colors)
export(split_files)
export(to_kmeans)
export(well_to_substrate)
exportClasses(OPM)
exportClasses(OPMA)
exportClasses(OPMD)
exportClasses(OPMS)
exportClasses(WMD)
exportMethods("%K%")
exportMethods("%Q%")
exportMethods("%k%")
exportMethods("%q%")
exportMethods("+")
exportMethods("[")
exportMethods("metadata<-")
exportMethods(aggr_settings)
exportMethods(aggregated)
exportMethods(anyDuplicated)
exportMethods(best_cutoff)
exportMethods(c)
exportMethods(ci_plot)
exportMethods(collect_template)
exportMethods(contains)
exportMethods(csv_data)
exportMethods(dim)
exportMethods(disc_settings)
exportMethods(discrete)
exportMethods(discretized)
exportMethods(do_aggr)
exportMethods(do_disc)
exportMethods(duplicated)
exportMethods(extract)
exportMethods(extract_columns)
exportMethods(fast_estimate)
exportMethods(filename)
exportMethods(find_positions)
exportMethods(find_substrate)
exportMethods(flatten)
exportMethods(gen_iii)
exportMethods(glob_to_regex)
exportMethods(has_aggr)
exportMethods(has_disc)
exportMethods(heat_map)
exportMethods(hours)
exportMethods(include_metadata)
exportMethods(length)
exportMethods(level_plot)
exportMethods(listing)
exportMethods(map_metadata)
exportMethods(map_names)
exportMethods(map_values)
exportMethods(max)
exportMethods(measurements)
exportMethods(merge)
exportMethods(metadata)
exportMethods(metadata_chars)
exportMethods(minmax)
exportMethods(oapply)
exportMethods(opm_opt)
exportMethods(phylo_data)
exportMethods(plate_type)
exportMethods(plates)
exportMethods(position)
exportMethods(radial_plot)
exportMethods(rep)
exportMethods(rev)
exportMethods(run_kmeans)
exportMethods(select)
exportMethods(separate)
exportMethods(seq)
exportMethods(setup_time)
exportMethods(show)
exportMethods(sort)
exportMethods(subset)
exportMethods(substrate_info)
exportMethods(summary)
exportMethods(thin_out)
exportMethods(to_metadata)
exportMethods(to_yaml)
exportMethods(unique)
exportMethods(well)
exportMethods(wells)
exportMethods(xy_plot)
importFrom(Ckmeans.1d.dp,Ckmeans.1d.dp)
importFrom(boot,boot)
importFrom(boot,boot.ci)
importFrom(grofit,grofit)
importFrom(grofit,grofit.control)
importFrom(hwriter,hmakeTag)
importFrom(hwriter,hwrite)
importFrom(lattice,levelplot)
importFrom(lattice,panel.abline)
importFrom(lattice,panel.grid)
importFrom(lattice,panel.xyplot)
importFrom(lattice,strip.custom)
importFrom(lattice,xyplot)
importFrom(pkgutils,L)
importFrom(pkgutils,LL)
importFrom(pkgutils,case)
importFrom(pkgutils,flatten)
importFrom(pkgutils,listing)
importFrom(pkgutils,must)
importFrom(pkgutils,pkg_files)
importFrom(pkgutils,sections)
importFrom(plotrix,radial.plot)
importFrom(stats,aggregate)
importFrom(stats,heatmap)
importFrom(stats,kmeans)
importFrom(stats,optimize)
importFrom(stats,update)
importFrom(yaml,as.yaml)
importFrom(yaml,yaml.load)
importFrom(yaml,yaml.load_file)
